.cart {
    // margin: 0;    
    // top: 1rem;
    // right: 1rem;
    // left: auto;
    // bottom: auto;
    // position: fixed;
    // overflow: visible;
    // max-width: 290px;
    // height: auto;
    // z-index: 10;
    &-empty {
        display: none;
    }
    &-fill {
        display: block;
    }
    &:has(.cart__body:empty) &-empty {
        display: block;
    }
    &:has(.cart__body:empty) &-fill {
        display: none;
    }
    // &-close {
    //     position: absolute;
    //     right: calc(100% + 0.5rem);
    //     top: 0;
    // }
    &__body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    &__message {
        margin-bottom: 1rem;
    }
    &-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &__info {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            justify-content: space-between;
        }

        &__buttons {
            display: flex;
            
            gap: 0.25rem
        }
        &__quantity {
            display: flex;
            align-items: center;
            gap: 0.25rem;
        }
    }
    &-button {
        position: fixed;
        bottom: 7rem;
        right: 1rem;
        z-index: 9;
        &__count {
            position: absolute;
            left: 60%;
            top: 60%;
            font-size: 0.75rem;
            font-family: monospace;
            display: block;
            width: 1rem;
            height: 1rem;
            background: var(--fourth-color);
            color: var(--second-color);
            border: 1px solid var(--second-color);
            text-align: center;
            line-height: 1rem;
            border-radius: 50%;
            &:empty {
                display: none;
            }
        }
        &__icon {
            &-empty {
                display: none;
            }
            &-fill {
                display: block;
            }
        }
        &__count:empty ~ &__icon-empty {
            display: block;
        }
        &__count:empty ~ &__icon-fill {
            display: none;
        }
    }
}