.cta {
    // position: relative;
    // z-index: 1;

    &__input {
        width: 100%;
    }

    &__label {
        padding: 0 0.25rem;
        display: inline-flex;
        align-items: center;
        gap: 0.25rem;
        flex-grow: 1;
    }

    &__labels {
        display: flex;
        flex-wrap: wrap;
    }

    &__btn {
        width: 100%;
    }
}

.input {
    // padding: 0.75rem 1rem;
    // display: inline-block;
    // background: transparent;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    // border: none;
    // max-width: 100%;
    &:focus {
        box-shadow: 0 0 5px var(--border-color);
    }
}

input::placeholder {
    color: var(--fourth-color);
}
textarea::placeholder {
    color: var(--fourth-color);
}

textarea.input {
    resize: none;
}

// input::placeholder {
//     color: #999;
// }
// textarea::placeholder {
//     color: #999;
// }

.select-wrap {
    padding: 1rem;
}



.cta-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 9;
}