@import "promo.scss";
@import "header.scss";
@import "services.scss";
@import "about.scss";
@import "price.scss";
@import "faq.scss";
@import "how.scss";
@import "extractor.scss";
@import "categories.scss";
@import "accordion.scss";
@import "bg.scss";
@import "why.scss";
@import "works.scss";
@import "reviews.scss";
@import "contacts.scss";
@import "socials.scss";
@import "indicators.scss";
@import "footer.scss";