section:has(.mask) {
  overflow: hidden;
  
}

.reflect-x {
  transform: scale(-1, 1);
}

.mask {
  height: 100%;
  position: relative;
  z-index: 2;
  
  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--fourth-color);
    opacity: 0.6;
    transition: all 400ms;
    z-index: 2;
    // section:has(.mask):hover & {
    //   opacity: 0;
    // }
  }

  

  @media screen and (max-width: 991px) {
    --triangle-size: 1.5rem;
    height: 300px;
  }

  @media screen and (max-width: 575px) and (min-width: 320px) {
    height: 250px;
    max-width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  &__subtitle {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;
    a {
      color: inherit;
    }
  }
  &__inner {
    
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 1rem;
    .reflect-x & {
      * {
        transform: scale(-1, 1);
      }
    }

  }


  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    // filter: blur(4px);
  }

}

