.popup {
    position: fixed;
    background: transparent;
    border: none;
    max-width: 600px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    &-center {
        margin: auto;
    }
    &-top-right {
        margin-left: auto;
        margin-right: 0;
    }
    &-narrow {
        max-width: 290px;
    }

}