.promo {
    &__title {
        text-align: center;
        margin-bottom: 2rem !important;
    }

    @media screen and (min-width: 992px) {
        &__title {
            text-align: left;
        }
    }
    
}