
.services {

    &-swiper {
        overflow: visible;
        .swiper-wrapper {
            height: auto;
        }
        .swiper-slide {
            height: auto;
        }
    }

}

.service {

    --padding: 0;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5rem 0 2rem 0;
    position: relative;

    &__header {
        padding: 1rem 1rem 0;
    }
    &__title {
        margin-top: 0;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        width: 260px;
        height: 48px;

    }
    &__img {
        position: relative;
        --substrate-color: var(--section-active-color);
        img {
            width: 100%;
            height: 150px;
            object-fit: contain;
            object-position: center;
            border-radius: 4rem 0 0 0;
        }
    }
    &__body {
        padding: 1rem;
        flex-grow: 1;
    }
    &__description {
        & > *:first-child {
            margin-top: 0;
        }
        & > *:last-child {
            margin-bottom: 0;
        }
        
    }
    &__footer {
        padding: 0 1rem 1rem;
    }
    &__more {
        display: inline-block;
        text-decoration: underline;
        transition: all 400ms;
        color: inherit;
        &:after {
            content: "";
            width: 0.75em;
            height: 0.75em;
            display: inline-block;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-in-up-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5'/%3E%3Cpath fill-rule='evenodd' d='M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z'/%3E%3C/svg%3E");
            background-size: contain;
            background-position: center bottom;
            background-repeat: no-repeat;
            margin-left: 0.25rem;
        }
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover:after {
            transform: rotate(0deg);
        }
    }

}
