extends settings/layout

prepend html
	- const lang = "it";

prepend head
	- const pageTitle = "Casa Pulita – Pulizia divani, materassi, tappeti e poltrone a domicilio"
	- const themeColor = "#ffffff"
	- const pageDescription = "Rendi i tuoi tessuti come nuovi! Pulizia professionale di divani, materassi, tappeti, cuscini e poltrone direttamente a domicilio, con prodotti sicuri e risultati immediati."
	- const pageKeywords = "pulizia divani, pulizia materassi, pulizia tappeti, pulizia poltrone, pulizia cuscini, pulizia sedie, pulizia a domicilio, pulizia professionale tessuti, rimozione macchie, trattamento macchie divani, igienizzazione materassi, lavaggio tappeti, pulizia tessuti casa, prodotti sicuri bambini animali, pulizia profonda divani, pulizia profonda materassi"
	- const pageUrl = "";
	- const pageImage = "img/logo.webp";
	- const twitterImage = "img/logo.webp";

append head
	link(rel="preload" as="image" href="img/promo-img-mob.webp" type="image/webp" media="(max-width: 430px)")
	link(rel="preload" href="fonts/cormorant-garamond-v20-latin-ext-300.woff2" as="font" type="font/woff2" crossorigin)
	link(rel="preload" href="fonts/cormorant-garamond-v20-latin-ext-700.woff2" as="font" type="font/woff2" crossorigin)
	script(type="application/ld+json").
		{
			"@context": "https://schema.org",
			"@type": ["LocalBusiness", "CleaningService"],
			"name": "Casa Pulita",
			"description": "Servizi professionali di pulizia e sanificazione di divani, materassi, tappeti, poltrone, cuscini e sedie a Trieste e provincia.",
			"url": "https://pulitacasa.it",
			"email": "Pulitacasavostra@gmail.com",
			"telephone": "+393514705328",
			"address": {
				"@type": "PostalAddress",
				"addressLocality": "Trieste",
				"addressCountry": "IT"
			},
			"areaServed": [
				{
					"@type": "Place",
					"name": "Trieste"
				},
				{
					"@type": "Place",
					"name": "Provincia di Trieste"
				}
			],
			"openingHours": [
				"Mo-Su 08:00-22:00"
			],
			"priceRange": "€",
			"image": "https://pulitacasa.it/logo.png",
			"hasOfferCatalog": {
				"@type": "OfferCatalog",
				"name": "I nostri servizi",
				"itemListElement": [
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "Pulizia professionale dei divani"
						}
					},
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "Pulizia dei materassi"
						}
					},
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "Pulizia dei tappeti"
						}
					},
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "Pulizia cuscini e sedie"
						}
					},
					{
						"@type": "Offer",
						"itemOffered": {
							"@type": "Service",
							"name": "Pulizia Poltrone"
						}
					}
				]
			},
			"mainEntity": {
				"@type": "FAQPage",
				"mainEntity": [
					{
						"@type": "Question",
						"name": "Con quale frequenza bisogna pulire i mobili imbottiti?",
						"acceptedAnswer": {
							"@type": "Answer",
							"text": "Consigliamo una pulizia professionale dei mobili imbottiti ogni 6–12 mesi. In case con bambini, animali domestici o persone allergiche, è consigliabile farlo più spesso per mantenere i mobili puliti e freschi."
						}
					},
					{
						"@type": "Question",
						"name": "È possibile rimuovere tutte le macchie?",
						"acceptedAnswer": {
							"@type": "Answer",
							"text": "La maggior parte delle macchie può essere rimossa efficacemente, ma tutto dipende dal tipo di macchia, dal tempo trascorso e dai tentativi di pulizia precedenti. Alcune macchie ostinate possono lasciare lievi aloni."
						}
					},
					{
						"@type": "Question",
						"name": "Quanto tempo impiega a seccarsi la tappezzeria dopo la pulizia?",
						"acceptedAnswer": {
							"@type": "Answer",
							"text": "Il tempo di asciugatura dipende dal tipo di materiale e dalle condizioni dell'ambiente. In genere occorrono 5–12 ore. La tappezzeria si asciuga più velocemente in un ambiente caldo e ben ventilato. Su richiesta, è disponibile un servizio di asciugatura rapida a pagamento."
						}
					},
					{
						"@type": "Question",
						"name": "I prodotti di pulizia sono sicuri per bambini e animali domestici?",
						"acceptedAnswer": {
							"@type": "Answer",
							"text": "Sì. Utilizziamo prodotti certificati, sicuri e ipoallergenici. Dopo la pulizia, consigliamo di non utilizzare i mobili fino a completo asciugamento."
						}
					},
					{
						"@type": "Question",
						"name": "Come preparare i mobili per la pulizia?",
						"acceptedAnswer": {
							"@type": "Answer",
							"text": "Basta rimuovere cuscini, coperte e altri oggetti dai mobili. Non è necessario spostare o riordinare nulla — ci occuperemo di tutto sul posto."
						}
					}
				]
			}
		}

append content
	script. 
		const initialCategory = 0;
	//- include components/header
	main.overflow-hidden
		include components/promo
		include components/services
		include components/about
		include components/process
		include components/why
		include components/price
		include components/how
		include components/works
		include components/indicators
		include components/reviews
		include components/faq
		include components/contacts
		include components/icons
	include components/footer

append scripts