.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item
		h5.h6.price-item__title Pulizia Cuscini
		.price-item__value a partire da 10 €
.col-6.col-md-4.col-xxl-3.price-table__col
	.price-item
		h5.h6.price-item__title Pulizia Sedie
		.price-item__value a partire da 20 €