section.about#about.section.section-dark
	.container
		.row.justify-content-center.justify-content-sm-start 
			.col-10.col-sm-7 
				.section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
					h2.section__title.text-uppercase Chi siamo
					h3.h6.section__subtitle.mb-0 Un team che ama il proprio lavoro e rispetta il tuo tempo
			.col-12
				.about__info.block(data-aos="fade-left" data-aos-delay="200")
					p I nostri clienti si fidano di noi perché affrontiamo ogni lavoro con la massima professionalità. Siamo specializzati nella pulizia della tappezzeria dei mobili, dei materassi, dei tappeti, delle finestre e nel lavaggio della tappezzeria auto.
					p Ogni giorno rimuoviamo diversi tipi di macchie: da cibo e bevande, peli di animali domestici, cattivi odori, muffa e polvere profondamente incrostata.
					p Grazie alla nostra esperienza, alle attrezzature professionali e ai detergenti efficaci, eliminiamo con successo ogni tipo di sporco, restituendo freschezza e pulizia che fanno sì che i clienti tornino volentieri da noi.			
					p ✨ Tipi di macchie e tracce che possiamo trattare Macchie di cibo e bevande, caffè, animali domestici, sudore, sangue, cosmetici e altri segni quotidiani.
			.col-10.col-sm-7.col-xl-3.offset-4.offset-sm-6.offset-xl-9
				.section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
					.section__btn
						include cta-button