a.btn.btn-secondary.btn-normal.btn-pillow.w-100.text-center(href="tel:3514705328")
	svg.icon.icon-right.shake(width="16" height="16")
		use(href="#tel") 
	| Chiama ora
//- .cta-controls 
//- 	.cta-controls__item
//- 		a.btn.btn-contrast-outline.btn-normal.text-center.btn-pillow.w-100.text-nowrap(href="tel:+99999999999") 
//- 			svg.icon.icon-right.shake(width="16" height="16")
//- 				use(href="#tel")
//- 			| Zadzwoń
//- 	.cta-controls__item
//- 		a.btn.btn-contrast.btn-normal.text-center.btn-pillow.w-100.text-nowrap(href="#price") 
//- 			svg.icon.icon-right(width="16" height="16")
//- 				use(href="#cart-empty")
//- 			| Online