section.faq#faq.section.section-dark
	.container
		.row.justify-content-center.justify-content-sm-start
			.col-10.col-sm-7
				.section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
					h2.section__title Domande frequenti
					h3.h2.h6.section__subtitle Scopri le risposte alle domande più comuni
			.col-12
				.block
					.accordion
						.accordion-item.card.card-primary-outline
							.accordion-item__header
								h2.h6.accordion-item__title Con quale frequenza bisogna pulire i mobili imbottiti?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-1.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-1") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-1(aria-labelledby="accordion-btn-1")
								div Consigliamo una pulizia professionale dei mobili imbottiti ogni 6–12 mesi. In case con bambini, animali domestici o persone allergiche, è consigliabile farlo più spesso per mantenere i mobili puliti e freschi.
						.accordion-item.card.card-primary-outline
							.accordion-item__header
								h2.h6.accordion-item__title È possibile rimuovere tutte le macchie?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-2.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-2") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-2(aria-labelledby="accordion-btn-2")
								div La maggior parte delle macchie può essere rimossa efficacemente, ma tutto dipende dal tipo di macchia, dal tempo trascorso e dai tentativi di pulizia precedenti. Alcune macchie ostinate possono lasciare lievi aloni.
						.accordion-item.card.card-primary-outline
							.accordion-item__header
								h2.h6.accordion-item__title Quanto tempo impiega a seccarsi la tappezzeria dopo la pulizia?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-3.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-3") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-3(aria-labelledby="accordion-btn-3")
								div Il tempo di asciugatura dipende dal tipo di materiale e dalle condizioni dell'ambiente. In genere occorrono 5–12 ore. La tappezzeria si asciuga più velocemente in un ambiente caldo e ben ventilato. Su richiesta, è disponibile un servizio di asciugatura rapida a pagamento.
						.accordion-item.card.card-primary-outline 
							.accordion-item__header
								h2.h6.accordion-item__title I prodotti di pulizia sono sicuri per bambini e animali domestici?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-4.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-4") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-4(aria-labelledby="accordion-btn-4")
								div Sì. Utilizziamo prodotti certificati, sicuri e ipoallergenici. Dopo la pulizia, consigliamo di non utilizzare i mobili fino a completo asciugamento.
						.accordion-item.card.card-primary-outline
							.accordion-item__header
								h2.h6.accordion-item__title Come preparare i mobili per la pulizia?
								button.accordion-item__btn.btn.btn-small.btn-primary#accordion-btn-5.btn-circle(type="button" aria-expanded="false" aria-controls="faq-item-5") 
									span.sr-only Toggle cards
									svg.icon.in-active-none(width="16" height="16")
										use(href="#plus")
									svg.icon.in-inactive-none(width="16" height="16")
										use(href="#minus")
							.accordion-item__body#faq-item-5(aria-labelledby="accordion-btn-5")
								div Basta rimuovere cuscini, coperte e altri oggetti dai mobili. Non è necessario spostare o riordinare nulla — ci occuperemo di tutto sul posto.
			.col-10.col-sm-7.col-xl-3.offset-4.offset-sm-6.offset-xl-9
				.section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
					.section__btn
						include cta-button
