section.promo#promo.section.section-dark
	.container
		.row.justify-content-center.justify-content-sm-start 
			.col-10.col-sm-12
				header.header
					.section__shape.section__shape-top.section__inner(data-aos="slide-down" data-aos-delay="200")
						.header__inner
							.header__logo 
								a(href="#")
									include logo
							.header__menu#main-menu 
								nav.menu 
									.menu__item
										a.menu__link.link(href="#about") Chi siamo
									.menu__item
										a.menu__link.link(href="#services") Servizi
									.menu__item
										a.menu__link.link(href="#price") Prezzi
									.menu__item
										a.menu__link.link(href="#reviews") Recensioni
									.menu__item
										a.menu__link.link(href="#works") Lavori
									.menu__item
										a.menu__link.link(href="#contacts") Contatti
								.header__menu-socials.text-center
									.card.card-primary.card-small.card-pillow
										include socials
								.header__menu-btn.text-center
									a.btn.btn-secondary.btn-small.btn-pillow.w-100(href="tel:+393514705328")
										svg.icon.icon-right.shake(width="16" height="16")
											use(href="#tel")
										| Chiama ora
							//- .header__button
							//- 	a.btn.btn-primary.btn-small.btn-pillow(href="tel:+99999999999")
							//- 		svg.icon.icon-right.shake(width="16" height="16")
							//- 			use(href="#tel")
							//- 		| Chiama ora
							.header__burger
								button.js-burger.btn.btn-transparent(type="button" aria-expanded="false" aria-controls="main-menu")
									span.sr-only Apri il menu mobile
									span.cross 
										span 
										span
										span
			.col-12.col-xl-8
				.block 
					h1.h2.promo__title.text-uppercase Casa Pulita - Pulizia professionale di divani, tappeti e materassi a domicilio | <span class="text-accent">Trieste e provincia</span>
					.promo__subtitle.extractor 
						.extractor__cleaner(data-aos="fade-left" data-aos-delay="100") 
						h2.h5.text-light.extractor__text.mb-0(data-aos="fade-left" data-aos-delay="200") Riportiamo freschezza e pulizia ai tuoi tessuti grazie a un trattamento profondo e delicato, direttamente a domicilio. Lavoriamo con cura, attenzione e rispetto per il tuo spazio.
			.col-10.col-sm-7.col-xl-3.offset-sm-5.offset-xl-9
				.section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
					.section__btn
						include cta-button