section.services#services.block.section-light.overflow-hidden
	.block__rectangle
	.container
		.row.g-4
			.col-12
				.row.align-items-center.justify-content-between.g-2
					.col-auto(data-aos="fade-right") 
						h2.services__title.text-uppercase.mb-0 Servizi
					.col-auto(data-aos="fade-left")  
						.swiper-navigation
							.services-button-prev.btn.btn-primary.btn-small.btn-circle
								svg.bi.bi-chevron-left.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0")
							.services-button-next.btn.btn-primary.btn-small.btn-circle
								svg.bi.bi-chevron-right.d-block(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16")
									path(fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708")
					.col-12(data-aos="fade-in")
						h3.h6.services__subtitle.text-light.mb-0 Rimuoviamo macchie, odori e polvere da ogni superficie — mobili imbottiti, tappeti, materassi e persino vetri
			.col-12(data-aos="fade-in" data-aos-delay="100")  
				.swiper.services-swiper 
					.swiper-wrapper
						.swiper-slide
							.service.card.card-primary-outline
								//- диван
								.service__header
									.service__img
										picture
											img(src="img/service-furniture.png" alt="Pulizia professionale dei divani" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pulizia professionale <br>dei divani
									.service__description 
										| Rimuoviamo lo sporco, rinfreschiamo il tessuto e restituiamo al 
										strong divano 
										| morbidezza e un aspetto ordinato. La pulizia viene effettuata con macchinari professionali e prodotti sicuri. 
										strong Divani - a partire da 60 € 
										| (Il prezzo varia in base al numero di posti e al tipo di tessuto.)								
								.service__footer 
									a.btn.btn-primary.btn-normal.btn-pillow.w-100.text-center(href="tel:+393514705328")
										svg.icon.icon-right.shake(width="16" height="16")
											use(href="#tel") 
										| Chiama ora
						.swiper-slide
							.service.card.card-primary-outline
								.service__header
									.service__img
										picture.service__img
											img(src="img/service-mattress.png" alt="Pulizia dei materassi" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pulizia <br>dei materassi
									.service__description 
										| Il 
										strong materasso 
										| torna fresco e piacevole per il riposo. Eliminiamo odori e tracce dell’uso quotidiano, restituendo una sensazione immediata di pulizia. 
										strong Materassi - a partire da 80 € 
										| (Singolo, matrimoniale o king: il prezzo viene definito in base alle dimensioni.)
								.service__footer 
									a.btn.btn-primary.btn-normal.btn-pillow.w-100.text-center(href="tel:+393514705328")
										svg.icon.icon-right.shake(width="16" height="16")
											use(href="#tel") 
										| Chiama ora
						.swiper-slide
							.service.card.card-primary-outline
								.service__header
									.service__img
										picture.service__img
											img(src="img/service-carpet.png" alt="Pulizia dei tappeti" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pulizia <br>dei tappeti
									.service__description 
										| Puliamo in profondità le fibre, ravviviamo i colori e miglioriamo l’aspetto generale del 
										strong tappeto
										| . Il trattamento è adatto sia ai tappeti sottili sia alle superfici tessili più spesse. 
										strong Tappeti - a partire da 20 € 
										| (Calcolato in base alle misure del tappeto.)
								.service__footer 
									a.btn.btn-primary.btn-normal.btn-pillow.w-100.text-center(href="tel:+393514705328")
										svg.icon.icon-right.shake(width="16" height="16")
											use(href="#tel") 
										| Chiama ora
						.swiper-slide
							.service.card.card-primary-outline
								.service__header
									.service__img
										picture.service__img
											//- source(srcset="img/service-salon.webp" type="image/webp")
											img(src="img/service-pillow.png" alt="Pulizia cuscini e sedie" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pulizia cuscini <br>e sedie
									.service__description 
										| 
										strong Pulizia Cuscini 
										| - a partire da 10 € (Cuscini divano, schienali, imbottiture varie.) 
										strong Pulizia Sedie 
										| imbottite - a partire da 20 € (Seduta o seduta + schienale, secondo il modello.)
								.service__footer 
									a.btn.btn-primary.btn-normal.btn-pillow.w-100.text-center(href="tel:+393514705328")
										svg.icon.icon-right.shake(width="16" height="16")
											use(href="#tel") 
										| Chiama ora
						.swiper-slide
							.service.card.card-primary-outline
								.service__header
									.service__img
										picture.service__img
											//- source(srcset="img/service-window.webp" type="image/webp")
											img(src="img/service-armchair.png" alt="Pulizia Poltrone" loading="lazy" height="200")
								.service__body
									h3.h6.service__title.text-third Pulizia <br>Poltrone
									.service__description 
										| 
										strong Poltrone 
										| – a partire da 30 € (Poltrone classiche, relax o imbottite.)
								.service__footer 
									a.btn.btn-primary.btn-normal.btn-pillow.w-100.text-center(href="tel:+393514705328")
										svg.icon.icon-right.shake(width="16" height="16")
											use(href="#tel") 
										| Chiama ora
