section.why#why.section.section-dark
	.container
		.row.justify-content-center.justify-content-sm-start 
			.col-10.col-sm-7 
				.section__shape.section__shape-top.section__inner(data-aos="fade-right" data-aos-delay="200")
					h2.section__title.text-uppercase Perché Casa Pulita
					h3.h6.section__subtitle.mb-0 I nostri clienti tornano da noi — ecco perché
			.col-12
				.block
					.row.g-4.align-items-center.justify-content-center 
						.col-12(data-aos="fade-right" data-aos-delay="200")
							.row.g-2.justify-content-center  
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#intime")
											h4.h6.card__title.mb-0 Servizio a domicilio rapido e comodo
										.card__body Offriamo interventi veloci direttamente a casa tua
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#safe")
											h4.h6.card__title.mb-0 Prodotti sicuri anche per bambini e animali
										.card__body Usiamo prodotti ipoallergenici, sicuri per tutta la famiglia
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#dry-cleaning")
											h4.h6.card__title.mb-0 Attrezzatura professionale
										.card__body Utilizziamo strumenti e prodotti di alta qualità per risultati ottimali
								.col-12.col-sm-6
									.card.card-primary-outline.card-rounded
										.card__header
											.card__icon 
												svg(width="48" height="48")
													use(href="#result")
											h4.h6.card__title.mb-0 Risultati visibili immediatamente
										.card__body Noterai la differenza già dopo il primo intervento
								//- .col-12.col-sm-6
								//- 	.card.card-primary-outline.card-rounded
								//- 		.card__header
								//- 			.card__icon 
								//- 				svg(width="48" height="48")
								//- 					use(href="#rating")
								//- 			h4.h6.card__title.mb-0 Massima cura e rispetto per la tua casa
								//- 		.card__body Ci prendiamo cura dei tuoi ambienti come se fossero i nostri
			.col-10.col-sm-7.col-xl-3.offset-4.offset-sm-6.offset-xl-9
				.section__shape.section__shape-bottom.section__inner(data-aos="flip-right" data-aos-delay="200")
					.section__btn
						include cta-button
