// $grid-gutter-width: 1.5rem;
// $grid-gutter-height: 1.5rem;
// $gutter: $grid-gutter-width;
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss';







*,
*:before,
*:after {
  box-sizing: border-box;
}

// .row {
//   --bs-gutter-y: 1.5rem;
// }

:root {
  --h1: 1.625rem;
  --h2: 1.5rem;
  --h3: 1.375rem;
  --h4: 1.25rem;
  --h5: 1.125rem;
  --h6: 1rem;
  --line-height: 1.3;


  @media screen and (min-width: 768px) {
    --h1: 2rem;
    --h2: 1.75rem;
    --h3: 1.5rem;
  }


  @media screen and (min-width: 1200px) {
    // --h1: 2.25rem;
    // --h2: 2rem;
    // --h3: 1.75rem;
    --h4: 1.5rem;
    --h5: 1.375rem;
    --h6: 1.125rem;
  }

}

h1,
h2 {
  line-height: 1.2;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

strong {
  font-weight: 700;
}

[class*="title" i]:has(+ [class*="subtitle" i]) {
  margin-bottom: 0.5rem;
}

body {
  --section-color: var(--first-color-75);
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  line-height: var(--line-height);
  font-weight: 300;
  overflow-x: hidden;
  color: var(--fourth-color);
  background: var(--section-color);




  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
}



h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: 'Raleway';
  margin-bottom: 1em;
  margin-top: 0;
  font-weight: 700;
}

li:not(:last-child):not(.bullet) {
  margin-bottom: 0.5rem;
}

html {
  // overflow-x: hidden;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
}

svg {
  overflow: hidden;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-medium {
  font-weight: 500;
}

.text-bold {
  font-weight: 700;
}

.text-black {
  font-weight: 900;
}

.text-nowrap {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-gold {
  color: rgb(122, 106, 0);
}

.text-yellow {
  color: yellow;
}

.text-digits {
  font-family: 'Times New Roman', Times, serif;
}

.text-uppercase {
  text-transform: uppercase;
}

br {
  line-height: 1;
  font-size: 0;
}




.rating {
  --star-size: 20px;
  --star-offset: 1px;
  width: calc(var(--star-size) * 5);
  height: var(--star-size);
  position: relative;

  &:before,
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: repeat-x;
  }

  &:before {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 1.62747L11.9214 6.24697C12.1014 6.67976 12.5084 6.97547 12.9756 7.01293L17.9627 7.41275L14.1631 10.6676C13.8071 10.9725 13.6516 11.451 13.7604 11.9069L14.9212 16.7735L10.6516 14.1656C10.2515 13.9213 9.74845 13.9213 9.34843 14.1656L5.07875 16.7735L6.23961 11.9069C6.34837 11.451 6.19291 10.9725 5.83692 10.6676L2.03726 7.41275L7.02438 7.01293C7.49162 6.97547 7.89863 6.67976 8.07864 6.24697L10 1.62747Z' stroke='%23f8b400' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  &:after {
    width: calc(var(--star-size) * var(--star-rating));
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.42292 1.38746C9.63642 0.874148 10.3636 0.874147 10.5771 1.38746L12.4984 6.00695C12.5884 6.22335 12.7919 6.3712 13.0256 6.38993L18.0127 6.78975C18.5668 6.83417 18.7916 7.52574 18.3693 7.88741L14.5697 11.1422C14.3917 11.2947 14.314 11.5339 14.3683 11.7619L15.5292 16.6285C15.6582 17.1693 15.0699 17.5967 14.5955 17.3069L10.3258 14.699C10.1258 14.5768 9.87423 14.5768 9.67422 14.699L5.40454 17.3069C4.9301 17.5967 4.34182 17.1693 4.47081 16.6285L5.63167 11.7619C5.68605 11.5339 5.60832 11.2947 5.43032 11.1422L1.63066 7.88741C1.20845 7.52574 1.43315 6.83417 1.98731 6.78975L6.97444 6.38993C7.20806 6.3712 7.41156 6.22335 7.50157 6.00695L9.42292 1.38746Z' fill='%23f8b400'/%3E%3C/svg%3E%0A");
  }
}

.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;

  &-right {
    margin-right: 0.25rem;
  }

  &-left {
    margin-left: 0.25rem;
  }
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

.bounce {
  animation: bounce 1s infinite;
}


.btn {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 700;
  transition: all 400ms;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  background: transparent;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid var(--border-color, transparent);

  &-rounded {
    border-radius: 0.5rem;
  }

  &-circle {
    border-radius: 50%;
  }

  &-pillow {
    border-radius: 50rem;
  }

  &:active {
    box-shadow: 0 0 10px var(--border-color);
  }

  &.active,
  .active &,
  .swiper-slide-thumb-active & {
    &:active {
      box-shadow: none;
    }
  }

  &:focus {
    outline: 2px var(--border-color);
  }


  &-primary {
    --border-color: var(--first-color-150);
    background: var(--first-color-125);
    color: var(--fourth-color);

    &:hover {
      background: var(--first-color-150);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--first-color-150);
      background: var(--first-color-50);
      color: var(--fourth-color);
    }

    &-outline {
      --border-color: var(--first-color-150);
      background: var(--first-color-50);
      color: var(--fourth-color);

      &:hover {
        background: var(--first-color-125);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--first-color-150);
        background: var(--first-color-150);
        color: var(--fourth-color);
      }
    }

  }

  &-secondary {
    --border-color: var(--fourth-color);
    background: var(--fourth-color);
    color: var(--first-color-50);

    &:hover {
      background: var(--fourth-color-125);
      color: var(--first-color);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--second-color);
      background: var(--first-color);
      color: var(--second-color);
    }

    &-outline {
      --border-color: var(--second-color);
      background: var(--first-color);
      color: var(--second-color);

      &:hover {
        background: var(--first-color-125);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--sefirstcond-color);
        background: var(--second-color);
        color: var(--first-color);
      }
    }

  }

  &-contrast {
    --border-color: var(--contrast-color-125);
    background: var(--contrast-color);
    color: var(--first-color);

    &:hover {
      background: var(--contrast-color-125);
    }

    &.active,
    .active &,
    .swiper-slide-thumb-active & {
      --border-color: var(--contrast-color);
      background: var(--first-color);
      color: var(--contrast-color);
    }

    &-outline {
      --border-color: var(--contrast-color);
      background: var(--contrast-color-75);
      color: var(--contrast-color);

      &:hover {
        background: var(--contrast-color-125);
        color: var(--first-color);
      }

      &.active,
      .active &,
      .swiper-slide-thumb-active & {
        --border-color: var(--contrast-color-125);
        background: var(--contrast-color);
        color: var(--first-color);
      }
    }
  }

  &-transparent {
    background: transparent;
    color: inherit;
    border: none;
  }

  &-large {
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  &-normal {
    padding: 1rem;
    font-size: 1rem;
  }

  &-small {
    padding: 0.75rem;
    font-size: 0.75rem;
  }

  &-extra-small {
    padding: 0.5rem;
    font-size: 0.5rem;
  }

  &-pulse {
    animation: pulse 2s ease-in infinite;
  }

}

@keyframes pulse {
  from {
    filter: drop-shadow(0 0 0 var(--border-color));
  }

  to {
    filter: drop-shadow(0 0 10px var(--border-color));
  }
}


.card {
  padding: var(--padding, 1rem);
  position: relative;
  height: 100%;
  border: 1px solid var(--border-color, transparent);

  &-rounded {
    border-radius: 1rem;
  }

  &-pillow {
    border-radius: 50rem;
  }

  &-leaf {
    --leaf-radius: 4rem;
    --padding: 1.5rem;
    border-radius: var(--leaf-radius) 0;

    @media screen and (min-width: 1200px) {
      --leaf-radius: 5rem;
      --padding: 2rem;
    }
  }

  &-large {
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  &-normal {
    padding: 1rem;
    font-size: 1rem;
  }

  &-small {
    padding: 0.75rem;
    font-size: 0.75rem;
  }

  &-extra-small {
    padding: 0.5rem;
    font-size: 0.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__icon {
    svg {
      vertical-align: middle;
    }
  }

  &__body {
    margin-top: 0.5rem;
  }

  &-primary {
    --border-color: var(--first-color-125);
    background: var(--first-color-125);
    color: var(--fourth-color);

    &.active {
      --border-color: var(--first-color-150);
      background: var(--first-color-125);
      color: var(--fourth-color);
    }

    &-outline {
      --border-color: var(--first-color-125);
      background: var(--first-color-50);
      color: var(--fourth-color);

      &.active {
        --border-color: var(--first-color-125);
        background: var(--first-color-125);
        color: var(--fourth-color);
      }
    }

  }

  &-secondary {
    --border-color: var(--second-color-125);
    background: var(--second-color);
    color: var(--fourth-color);

    &.active {
      --border-color: var(--second-color);
      background: var(--first-color);
      color: var(--second-color);
    }

    &-outline {
      --border-color: var(--second-color);
      background: var(--first-color);
      color: var(--second-color);

      &.active {
        --border-color: var(--first-color);
        background: var(--second-color);
        color: var(--first-color);
      }
    }

  }

}


@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}


.swiper-navigation {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}



.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

*:has(>.sr-only) {
  position: relative;
}


.active .in-active-none {
  display: none;
}

.active .in-inactive-none {
  display: block;
}

.in-inactive-none {
  display: none;
}

.text-white {
  color: var(--neutral-color);
}


.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.h-auto {
  height: auto !important;
}

.h-100 {
  height: 100%;
}

.p-relative {
  position: relative;
}

.index-2 {
  z-index: 2;
}


@keyframes draw-circle-inner {
  from {
    stroke-dasharray: 0, 565;
  }

  to {
    stroke-dasharray: 565, 565;
  }
}

@keyframes draw-circle-outer {
  from {
    stroke-dasharray: 0, 565;
  }

  to {
    stroke-dasharray: 565, 565;
  }
}

@keyframes fade-in-sofa {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(0.45)
  }
}


.logo {
  &-icon {
    vertical-align: middle;

    &__sofa {
      transform: scale(0.45);
      transform-origin: center 35%;
      animation: fade-in-sofa 1s ease-out forwards;
    }

    &__circle {
      &-outer {
        transform-origin: center;
        transform: rotate(158deg);
        animation: draw-circle-outer 1s ease-out forwards;
      }
    }

    &__text {
      font-weight: 700;
    }
  }

}

.text-red {
  color: red;
}

.beer-slider picture {
  display: block;
}


.text-accent {
  color: var(--fourth-color-75);
}


.cta-controls {
  display: flex;
  margin-right: -2.5rem;

  // .btn {
  //   width: 100%;
  //   white-space: nowrap;
  // }
  &__item {
    &:nth-child(1) {
      width: calc(50% + 2.5rem);
      width: 50%;

      .btn {
        padding-right: 2.5rem;
      }
    }

    &:nth-child(2) {
      margin-left: -2.5rem;
      width: calc(50% - 1rem);
      width: 50%;
    }
  }
}

.overflow-hidden {
  overflow: hidden;
}



.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  @media (min-width: 420px) {
    &-xs {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-center {
        text-align: center;
      }
    }
  }

  @media (min-width: 576px) {

    &-sm {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-center {
        text-align: center;
      }
    }
  }

  @media (min-width: 768px) {

    &-md {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-center {
        text-align: center;
      }
    }
  }

  @media (min-width: 992px) {

    &-lg {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-center {
        text-align: center;
      }
    }
  }

  @media (min-width: 1200px) {

    &-xl {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-center {
        text-align: center;
      }
    }
  }

  @media (min-width: 1200px) {

    &-xxl {
      &-left {
        text-align: left;
      }

      &-right {
        text-align: right;
      }

      &-center {
        text-align: center;
      }
    }
  }
}



 
  .col-12:nth-child(1n) > .card-leaf {
    border-radius: 0 var(--leaf-radius);
  }

  .col-12:nth-child(2n) > .card-leaf {
    border-radius: var(--leaf-radius) 0;
  }

  .col-12:nth-child(3n) > .card-leaf {
    border-radius: 0 var(--leaf-radius);
  }

  .col-12:nth-child(4n) > .card-leaf {
    border-radius: var(--leaf-radius) 0;
  }

  .row-cols-2 .col:nth-child(1n) .card-leaf {
    border-radius: 0 var(--leaf-radius);
  }

  .row-cols-2 .col:nth-child(2n) .card-leaf {
    border-radius: var(--leaf-radius) 0;
  }

  .row-cols-2 .col:nth-child(3n) .card-leaf {
    border-radius: var(--leaf-radius) 0;
  }

  .row-cols-2 .col:nth-child(4n) .card-leaf {
    border-radius: 0 var(--leaf-radius);
  }

  @media screen and (min-width: 576px) {
    .col-sm-6:nth-child(1n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-sm-6:nth-child(2n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-sm-6:nth-child(3n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-sm-6:nth-child(4n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }
  }

  @media screen and (min-width: 768px) {
    .col-md-6:nth-child(1n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-md-6:nth-child(2n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-md-6:nth-child(3n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-md-6:nth-child(4n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-4 .col:nth-child(1n) .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-4 .col:nth-child(2n) .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .row-cols-md-4 .col:nth-child(3n) .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .row-cols-md-4 .col:nth-child(4n) .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }
  }

  @media screen and (min-width: 992px) {
    .col-lg-6:nth-child(1n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-lg-6:nth-child(2n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-lg-6:nth-child(3n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-lg-6:nth-child(4n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-lg-3:nth-child(1n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-lg-3:nth-child(2n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-lg-3:nth-child(3n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-lg-3:nth-child(4n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }
  }

  @media screen and (min-width: 1200px) {
    .col-xl-12:nth-child(1n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-xl-12:nth-child(2n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }

    .col-xl-12:nth-child(3n) > .card-leaf {
      border-radius: 0 var(--leaf-radius);
    }

    .col-xl-12:nth-child(4n) > .card-leaf {
      border-radius: var(--leaf-radius) 0;
    }
  }
