// :root {
//   --neutral-color: #fff;
//   --first-color:  #effbff;
//   --first-color-125: #abe8db;
//   --second-color: #7ae2ff;
//   --second-color-125: #02afdf;
//   --third-color: #2375e1;
//   --third-color-125: rgb(0, 76, 81);
//   --fourth-color-75: #00204a;
//   --fourth-color: #004bad;
//   --fourth-color-125: #00204a;
//   --contrast-color-75: #ffe9e5;
//   --contrast-color: #f95959;
//   --contrast-color-125: #ea4423;
// }
:root {
  --neutral-color: #fff;
  --first-color-50:  #fffcf5;
  --first-color-75:  #fffaed;
  --first-color:  #fcf4d9;
  --first-color-125: #fef1c6;
  --first-color-150: #fde9a8;
  --second-color: rgb(216, 255, 239);
  --second-color: rgb(191, 249, 226);
  --second-color-125: rgb(148, 230, 197);
  --third-color-75: #e4ddff;
  --third-color: #a393eb;
  --third-color-125: #8775d7;
  --fourth-color-75: #488383;
  --fourth-color: #1e6262;
  --fourth-color-125: #0a4040;
  --contrast-color-75: #fff0ed;
  --contrast-color: #ff502f;
  --contrast-color-125: #d53717;
}